/* HERO-GESAMTFLÄCHE */
.equal-hero-container {
    position: relative;
    width: 100%;
    height: 100vh; /* immer ganze Höhe */
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* Hintergrundbild */
.equal-hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* immer mittig */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* HERO BOX – vergrößert */
.equal-hero-box {
    position: absolute;
    bottom: 200px;
    left: 100px;
    background: rgba(0, 0, 0, 0.65);
    padding: 40px 50px;
    border-radius: 18px;
    max-width: 600px;
    z-index: 2;
    color: #fff;
    backdrop-filter: blur(6px);
}

/* Größerer Text */
.equal-hero-box h1 {
    margin: 0 0 15px 0;
    font-size: 42px;
    line-height: 1.1;
    font-weight: 700;
    color: #c60004;
}

.equal-hero-box p {
    margin: 0 0 25px 0;
    font-size: 20px;
    opacity: 0.92;
    line-height: 2.5rem;
}

/* Mehr Platz für Buttons */
.equal-hero-buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.equal-hero-buttons a {
    padding: 25px 36px;
    background: #c60004;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    font-size: 32px;
    transition: 0.2s;
}

.equal-hero-buttons a:hover {
    background: #c6292d;
}

.equal-hero-buttons .equal-secondary {
    background: rgba(255, 255, 255, 0.25);
    border-color: #c60004;
    color: #fff;
}

.equal-hero-buttons .secondary:hover {
    background: #c60004;
}

/* Tablet Optimierung */
@media (max-width: 1024px) {

    .equal-hero-box {
        max-width: 500px;
        padding: 35px 40px;
        bottom: 40px;
        left: 40px;
    }

    .equal-hero-box h1 {
        font-size: 36px;
    }

    .equal-hero-box p {
        font-size: 18px;
    }

    .equal-hero-buttons a {
        font-size: 17px;
        padding: 14px 22px;
    }
}

/* Handy Optimierung */
@media (max-width: 650px) {

    .equal-hero-container {
        height: 85vh;
    }

    .equal-hero-box {
        left: 20px;
        right: 20px;
        bottom: 20px;
        padding: 28px 28px;
        max-width: 100%;
    }

    .equal-hero-box h1 {
        font-size: 28px;
    }

    .equal-hero-box p {
        font-size: 16px;
    }

    .equal-hero-buttons a {
        font-size: 16px;
        padding: 12px 18px;
        flex: 1; /* Buttons füllen Breite */
        text-align: center;
    }
}